{# ./templates/default/index.html.twig #}

{% extends 'base.twig' %}
    
 {% block title %} Symfony React Project {% endblock %}
    
 {% block body %}
    
    <div class="homepage-content">
        <div id="carousel"></div>
    </div>
    <div>
        <div class="auction-section">
            <h2> Recommended auctions</h2>
            <div id="auction-list1"></div>
        </div>
        <div class="auction-section">   
            <h2>Live auctions</h2>
            <div id="auction-list2"></div>
        </div>
    </div>
    
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}