body {
    background-color: white;
    width: 100vw;
    font-family: 'Lato';
}

.body-container {
    padding: 0 100px;
    margin: 30px auto 0 auto;

}

/* navbar */

#logo {
    font-family: 'Alfa Slab One';
    font-size: 36px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #868D8F;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav-links a {
    color: black;
}

.search-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #868D8F;
}

.search-bar {
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* footer */

footer {
    border-top: 1px solid #868D8F;
}

.footer-container {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex: 1 1 60%;
    justify-content: space-between;
    padding-right: 150px;
    
}

.footer-links a {
    text-decoration: none;
    color: #55585A;
    line-height: 30px;
    font-size: 16px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.brand {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex: 1 1 20%;
}

/* homepage */

#carousel {
}

h2 {
    font-weight: bold;
    font-size: 34px;
    margin: 20px 0;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.auction-section {
    margin-bottom: 20px;
}