body {
    background-color: white;
    font-family: 'Lato';
}

.body-container {
    padding: 0 100px;
    margin: 30px auto 0;

}

/* navbar */

#logo {
    text-decoration: none;
    font-family: 'Alfa Slab One';
    font-size: 36px;
    color: black;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #868D8F;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav-links a {
    color: black;
}

/* footer */

footer {
    border-top: 1px solid #868D8F;
}

.footer-container {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex: 1 1 60%;
    justify-content: space-between;
    padding-right: 150px;
    
}

.footer-links a {
    text-decoration: none;
    color: #55585A;
    line-height: 30px;
    font-size: 16px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.brand {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex: 1 1 20%;
}