/* carousel */

.visually-hidden {
    display: none;
}

/* auction list */

h2 {
    font-weight: bold;
    font-size: 34px;
    margin: 20px 0;
}

.auction-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-element {
    text-decoration: none;
    list-style: none;
    margin: 5px;
    padding: 0;
    width: 25%;
    min-height: 300px;
}

.card-body {
    padding: 0;
}

.card-img-top {
    height: 15vw;
}

.price.card-text {
    margin-bottom: 0;
}

.auction-section {
    margin-bottom: 20px;
}

.colored-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 2.5rem 1.25rem;
    min-height: 300px;
}

.colored-card .card-title{
    font-size: 28px;
}

.green-card {
    background-color: #0F8F6C;
}

.red-card {
    background-color: #CC1A1A;
}

.card-button {
    background-color: transparent;
    border: white 1px solid;
}

.custom-card {
    max-height: 300px;
    height: 100%;
    /* margin: 10px; */
}

.price {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: none;
}

/* searchbar */
.transparent .btn {
    background-color: transparent;
}

.search-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 1px solid #868D8F;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#search-box {
    width: 100%;
}

#search-form {
    display: flex;
    flex-flow: row;
    align-items: center;
    border: solid 1px #868D8F;
    justify-content: space-between;
    border-radius: 3px;
}

#textbox {
    border: hidden;
    padding: 10px;
}

#submitSearch {
    width: 20px;
    margin: 5px;
}
