<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('/css/index.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <nav>
                    <div>BIDGAMES</div>
                    {% block nav %}
                        <div class="nav-links">
                            <a href="#">Sign in/Register</a>
                        </div>
                    {% endblock %}
                </nav>

                <div class="search-container"></div>
            {% endblock %}
        </header>
        
        
        {% block body %}{% endblock %}

        <footer>
            {% block footer %}
                <div class="footer-links">
                    <div class="footer-column">
                        <a href="#">About Us</a>
                        <a href="#">Contact</a>
                        <a href="#">FAQ</a>
                    </div>
                    <div class="footer-column">
                        <a href="#">GDPR</a>
                        <a href="#">Some Policy</a>
                        <a href="#">Cookies</a>
                    </div>
                </div>
                <div class="brand">
                    <span>Copyright © 2021 EPSI Team</span>
                </div>
            {% endblock %}
        </footer>
    </body>
</html>
